<div class="col-md-5 create-post">
    <h3>Edit your Post:</h3>

    <form class="form new-post-form" id="post-form">
        <div class="form-group">
            <label for="post-title">Title:</label>
            <input class="form-input" type="text" id="post-title" name="post-title" value="{{ title }}" />
        </div>
        <div class="form-group">
            <label for="post-content">Content:</label>
            <input class="form-input" id="post-content" name="post-content" value="{{ content }}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary update" data-id="{{ id }}">Update</button>
        </div>
    </form>
</div>

<script src="/js/update.js"></script>