nav {
  background-color: rgba(155, 122, 101, 0.8);
}

.nav {
  color: black;
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
  font-size: larger;
  margin-left: 50px;
}

body {
  background-color: rgba(248, 255, 254, 0.8);
}

.post-item {
  border-style: outset;
  border-color: cornsilk;
  background-color: rgb(209, 209, 209);
}

.comment-item {
  border-radius: 10px;
  background-color: rgb(135, 248, 23);
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 5px;
  margin: 5px;
}

.post-list {
  border-radius: 7px;
  background: burlywood;
  padding: 10px;
  align-items: center;
}

.create-post {
  border-radius: 7px;
  background: burlywood;
  margin-right: 10px;
}

.post-list-item {
  border-radius: 4px;
  background: rgb(216, 208, 198);
  border-style: outset;
  border-color: cornsilk;
}

.my-badge {
  font-size: 40px;
  color: rgba(37, 18, 18, 0.8);
  border-radius: 5px;
  background-color: rgba(212, 245, 239, 0.8);
  padding: 3px;
  box-shadow: 5px 5px grey;
  margin-left: 50px;
}

.navbar-expand-lg {
  padding: 15px;
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button.small {
  padding: 4px 12px;
}

.centered {
  margin: 50px auto;
  text-align: center;
}

.button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0 0 15px 5px;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: rgb(85, 85, 85);

  background-color: rgb(140, 247, 91);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 1)),
    to(rgba(255, 255, 255, 0))
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  background-image: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  background-image: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  background-image: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  background-image: linear-gradient(
    top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  background-clip: padding-box; /* Fix bleeding */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5),
    0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3),
    0 2px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5),
    0 1px 0 rgba(255, 255, 255, 0.3) inset;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  background-color: #eee;
  color: #555;
}

.button:active {
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
}

.comment {
  border: 1px solid #999999;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 500px;
}

.submission-field {
  text-align: left;
  padding-top: 0;
  height: 150px;
}
